.new {
  position: relative;
  margin: 0;
  width: 80%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  box-sizing: border-box;
  padding: 16px 16px 16px 60px;
  border: none;
  outline: none;
  display: inline-block;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}